export(AijklWeights)
export(AmbergDeformSpam)
export(AmbergRegister)
export(areafun)
export(bary2point)
export(buildAffineAmberg)
export(centermesh3d)
export(colorTrans)
export(createArcNode)
export(createC)
export(createJc)
export(createS)
export(cutMesh)
export(cylinder)
export(gaussMatch)
export(glVisible)
export(icp)
export(mat2sparseBlock)
export(meshOffset)
export(mixColorMesh)
export(multisolve3)
export(normcheck)
export(placeDowels)
export(plotBorder)
export(rmInternals)
export(selectVertex)
export(trivolume)
export(warpmovieMulti)
importClassesFrom(Matrix,dgCMatrix)
importClassesFrom(Matrix,sparseMatrix)
importClassesFrom(spam,spam)
importClassesFrom(spam,spam.chol.NgPeyton)
importFrom(Matrix,cBind)
importFrom(Matrix,Matrix)
importFrom(Matrix,sparseMatrix)
importFrom(Morpho,adnormals)
importFrom(Morpho,angle.calc)
importFrom(Morpho,closemeshKD)
importFrom(Morpho,conv2backf)
importFrom(Morpho,facenormals)
importFrom(Morpho,file2mesh)
importFrom(Morpho,mcNNindex)
importFrom(Morpho,meshcube)
importFrom(Morpho,meshDist)
importFrom(Morpho,meshres)
importFrom(Morpho,projRead)
importFrom(Morpho,rmUnrefVertex)
importFrom(Morpho,rmVertex)
importFrom(Morpho,rotmesh.onto)
importFrom(Morpho,rotonmat)
importFrom(Morpho,rotonto)
importFrom(Morpho,tanplan)
importFrom(Morpho,tps3d)
importFrom(Morpho,unrefVertex)
importFrom(Morpho,vert2points)
importFrom(Morpho,warp.mesh)
importFrom(parallel,detectCores)
importFrom(parallel,mclapply)
importFrom(rgl,open3d)
importFrom(rgl,points3d)
importFrom(rgl,rgl.bringtotop)
importFrom(rgl,rgl.clear)
importFrom(rgl,rgl.close)
importFrom(rgl,rgl.ids)
importFrom(rgl,rgl.pop)
importFrom(rgl,rgl.projection)
importFrom(rgl,rgl.snapshot)
importFrom(rgl,select3d)
importFrom(rgl,shade3d)
importFrom(rgl,translate3d)
importFrom(rgl,wire3d)
importFrom(Rvcg,vcgBorder)
importFrom(Rvcg,vcgClost)
importFrom(Rvcg,vcgGetEdge)
importFrom(Rvcg,vcgIntersect)
importFrom(Rvcg,vcgNonBorderEdge)
importFrom(Rvcg,vcgSmooth)
importFrom(spam,as.spam.dgCMatrix)
importFrom(spam,rbind.spam)
importFrom(spam,solve.spam)
importMethodsFrom(spam,rbind)
useDynLib(mesheR)
