export(AijklWeights)
export(AmbergDeformSpam)
export(AmbergRegister)
export(areafun)
export(bary2point)
export(buildAffineAmberg)
export(centermesh3d)
export(colorTrans)
export(createArcNode)
export(createC)
export(createJc)
export(createS)
export(cutMesh)
export(cylinder)
export(gaussMatch)
export(glVisible)
export(icp)
export(mat2sparseBlock)
export(meshOffset)
export(mixColorMesh)
export(multisolve3)
export(normcheck)
export(placeDowels)
export(plotBorder)
export(rmInternals)
export(selectVertex)
export(trivolume)
export(warpmovieMulti)
importClassesFrom(Matrix,dgCMatrix)
importClassesFrom(Matrix,sparseMatrix)
importClassesFrom(spam,spam)
importClassesFrom(spam,spam.chol.NgPeyton)
importFrom(Matrix,Matrix)
importFrom(Matrix,cBind)
importFrom(Matrix,sparseMatrix)
importFrom(spam,as.spam.dgCMatrix)
importFrom(spam,rbind.spam)
importFrom(spam,solve.spam)
importMethodsFrom(spam,rbind)
useDynLib(mesheR)
